<h1>CattR!</h1>
<p>The Internets is a series of tubes. Tubes filled with cats. We bring them directly to you.</p>
<div>
  <p>Cats are so RAD they have been endorsed by Tom from MySpace.</p>
  <img src='https://pbs.twimg.com/profile_images/1237550450/mstom.jpg' alt='Fuck Tom.' />
  <p>Fuck Tom.</p>
</div>
<div>
  <form action="/search" method="post">
    Search:<br>
    <input type="text" name="search" placeholder="Images"><br>
    <input type="submit" value="Submit">
  </form>
</div>
