<h3>Results for "<%=@search_string%>"</h3>
<p>
  <ul>
    <% @results.each do |result| %>
      <img src="<%= result %>" style="float: left; width:16%; margin-right: 1%; margin-bottom: 0.5em;">
      <br>
    <% end %>
  </ul>
</p>
<a href="/">Search for more GIFs!</a>
